
.HR-header{
    display: flex;
    align-items: center;
}
.header-logo{
    height:100px;
    margin-right: 0px;
}

.HR-header h1{
    font-size: 20px;
    margin-left: 0px;
    position: relative;
    right: 20px;
}