@import '../App.scss';
$width: 100vw;


.HR-header{
    background-color: $primary_1;
    display: flex;
    align-items: center;
    width: $width;
    height: 100px;
}
.header-logo{
    position: relative;
    left: 10px;
    color: $primary_2;
    font-size: 100px;
}

.HR-header h1{
    font-size: 20px;
    margin-left: 0px;
    position: relative;
    right: 20px;
    color: $primary_3;;
}

.HR-header button{
    margin-right: 10px;
}

.header-leftside{
    @include flex-container;
}

@media (min-width: $change_px){
    .HR-header{
        justify-content: space-between;
        width: $width
    }
}