@import '../App.scss';

.stat-checker{
    display: flex;
    justify-content: center;
}
.stat-checker h3{
    margin: 15px 5px;
}

// .stat-checker{
//     font-size: 15px;
//     transition: font-size 4s ease-out;
// }
// .stat-checker h3:active { 
//     color: rgb(140, 160, 140);
//     font-size: 30px;
//  }
// //h3 div:hover {color: $primary_2}
// h3 div::selection {color: $primary_2}

.on-court-list{
    background-color: $primary_2;
}
.on-court-list-selected{
    background-color: $primary_3;
}

.action{
    background-color: $primary_3;
}
.action-selected{
    background-color: $primary_2;
}

.bench-list{
    background-color: $primary_2;
}
.bench-list-selected{
    background-color: $primary_3;
}

.box-stats{
    display: flex;
    justify-content: center;
    text-align: left;
}
.box-stats div{
    text-align: left;
    margin-left: 10px;
}
.table-div{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}
table{
    display: block;
    justify-content: center;
    border-collapse: collapse;
    border-spacing: 0.5rem;
}

tr{
    width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    border: black 2px solid;
}

tc{
    padding-left: 20px;
    //border: solid black 2px;
    width: 90px;
}

.kills{
    text-align: right;
}
.attempts{
    text-align: center;
}

.bench-court{
    display: flex;
    justify-content: center;
}

.bench-court button{
    height: 20px;
    margin: 15px;
    margin-top: 70px;
}

.add-stat{
    margin-bottom: 15px;
}

.add-full-game{
    margin-left: 10px;
}