@import '../App.scss';

.profile-pic{
    height: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.playerview-app{
    @include flex-container;
    background-color: $primary_3;
}

.playerview-total{
    height: 3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    //border: black solid 2px;
    
}

.profile-container{
    width: 320px;
    border: solid $primary_1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.profile-container p{
    margin-top: 0px;
    padding-top: 0px;
    color: $primary_1;
}

.add-game-container{
    margin-top: 10px;
}

.add-game-container input{
    margin: 2px;
}

.toggle-button{
    margin-top: 10px;
}

.top-line{
    display: flex;
}
.top-line p{
    margin-left: 4px;
}
.bottom-line{
    display: flex;
    justify-content: center;
}
.bottom-line p{
    margin-left: 4px;
}

.stat-box{
    margin-top: 10px;
}

.stat-title{
    font-weight: bold;
}

@media (min-width: $change_px){
    .stat-numbers{
        display: flex;
    }
    .games-list{
        position: relative;
        left: 60px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        width: 700px;
    }
    .single-game{
        width: 300px;
    }
}