.profile-pic{
    height: 100px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.playerview-app{
    display: flex;
    justify-content: center;
}

.playerview-total{
    height: 3000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-container{
    width: 320px;
    border: solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container p{
    margin-top: 0px;
    padding-top: 0px;
}

.add-game-container{
    margin-top: 10px;
}

.add-game-container input{
    margin: 2px;
}

.toggle-button{
    margin-top: 10px;
}

.top-line{
    display: flex;
}
.top-line p{
    margin-left: 4px;
}
.bottom-line{
    display: flex;
    justify-content: center;
}
.bottom-line p{
    margin-left: 4px;
}

.stat-box{
    margin-top: 10px;
}