@import '../App.scss';
$view_width: 100vw;

.players-display{
    width: 450px;
}
.recruiter-app{
    height: 3000px;
    display: flex;
    justify-content: center;
    background-color: $primary_3;
    width: $view_width;
}

.recruiter-app h1{
    position: relative;
    left: 10px;
    color: $primary_2;
    font-size: 60px;
}

@media (min-width: 900px){
   .recruiter-app{
       width: $view_width;
       display: flex;
       justify-content: center;
       align-items: flex-start;
   }
   .players-display{
       width: 1100px;
       //border: solid greenyellow 2px;
       display: flex;
       flex-wrap: wrap;
       justify-content: center;
   }

}



