//site color variables
$warning_color: rgb(255, 0, 0);
$primary_1: black;
$primary_2: rgba(224, 65, 65, 0.692);
$primary_3: tan;
$change_px: 550px;

@mixin flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  margin: 0px ;
}



