//site color variables
$warning_color: rgb(255, 0, 0);
$primary_1: rgb(128, 120, 120);
$primary_2: rgba(224, 65, 65, 0.692);

.App {
  /* display: flex;
  flex-direction: column; */
  text-align: center;
  margin: 0px ;
}

.auth-app{
  margin-top: 100px;
}


